body{
	margin:30px;
	padding:20px;
	background:black;
}
	
.stick{
	background: chocolate;
	width:10px;
	height: 700px;
	float: left;
	}
	
.box{
	background: green;
	height:300px;
	width:600px;
	float: left;
	}
	
h1{
	color: white;
	margin:50px auto;
	letter-spacing:5px;
	
	}
	
.circle{
	height:200px;
	width: 200px;
	background: red;
	border-radius: 50%;
	margin: 50px auto;
	
	}
	
.circle img {
	width: 55%;
	margin:40px auto;
	margin-left: 40px;
			}